@page
@model IndexModel
@{
    ViewData["Title"] = "SPS Inventory System Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับเข้าสู่เว็ปของเรา</h1>
    <p>ร้านขายขนมที่มีสินค้าน่าสนใจมากมาย</p>
    <img src="/Image/SamunaiLexikon-necoarc-7.0.8.png.256x256_q95.png" />
</div>
