@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory System Index Page ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bigest Snack Shop in Penguin Village</p>
</div>
